<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html lang="en">
<head>
</head>
<body>
<div class="header">
  <a href="/">
    <div>=( ^ >w< ^ )=</div>
    bite size videos that shouldn't dumb you down
  </a>
</div>
<div class="content">
  {% block content %}
  {% endblock %}
</div>
<div class="footer">
  <a href="/configure">configure</a> |
  <a href="/archive">archive</a> |
  <a href="/about">about</a>
  <div>
  <a href="https://github.com/Granitosaurus/wisdom.cat">source on github</a>
  </div>
</div>
</body>

</html>